<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.2.js}"></script>
    <script>
        // $(function () {
        // $("#search").bind("click", function () {
        //     var name = $("#name").val();
        //     if (name == null || name == "") {
        //         alert("不能为空");
        //         return;
        //     }
        // var xmlhttp = new XMLHttpRequest();
        // xmlhttp.open("GET", "/page?name=" + name, false);
        // xmlhttp.send();
        //     });
        // });
    </script>
</head>
<body>
<div id="mydiv">
    <table>
        <tr>
            <th>ID</th>
            <th>名称</th>
            <th>链接</th>
        </tr>
        <tr th:each="item : ${list}">
            <td th:text="${{item.id}}"></td>
            <td th:text="${{item.name}}"></td>
            <td th:text="${{item.url}}"></td>
        </tr>
    </table>
</div>
</body>
</html>